/node_modules
/public/hot


/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/storage/images/67333c213ef5b.jpg
public/storage/images/9160225-3.jpg
composer.json
composer.lock

